# Mundo 13 - Manipulações simples de DFs

In [1]:
import pandas as pd

In [2]:
df_cambio = pd.DataFrame({
    "moeda": ['dolar/real', 'libra/real'] * 4,
    "price": [5.24, 4.15, 5.26, 4.23, 5.55, 4.02, 5.76, 3.98],
    "derivativo": list(["DOLFT3", "LIBFT3"]) * 4, 
    "data": sorted(list(pd.date_range("1/5/2014", periods = 4)) * 2)
})

df_cambio

        moeda  price derivativo       data
0  dolar/real   5.24     DOLFT3 2014-01-05
1  libra/real   4.15     LIBFT3 2014-01-05
2  dolar/real   5.26     DOLFT3 2014-01-06
3  libra/real   4.23     LIBFT3 2014-01-06
4  dolar/real   5.55     DOLFT3 2014-01-07
5  libra/real   4.02     LIBFT3 2014-01-07
6  dolar/real   5.76     DOLFT3 2014-01-08
7  libra/real   3.98     LIBFT3 2014-01-08

In [5]:
#Como trocar o nome das colunas 

#df_cambio.columns

df_cambio.columns = ['moeda', 'cotacao', 'codigo', 'data']

df_cambio

        moeda  cotacao  codigo       data
0  dolar/real     5.24  DOLFT3 2014-01-05
1  libra/real     4.15  LIBFT3 2014-01-05
2  dolar/real     5.26  DOLFT3 2014-01-06
3  libra/real     4.23  LIBFT3 2014-01-06
4  dolar/real     5.55  DOLFT3 2014-01-07
5  libra/real     4.02  LIBFT3 2014-01-07
6  dolar/real     5.76  DOLFT3 2014-01-08
7  libra/real     3.98  LIBFT3 2014-01-08

In [6]:
#como selecionar colunas 

cotacao = df_cambio['cotacao'] #te devolve uma serie

cotacao
#df_cambio.cotacao #pode selecionar colunas assim tambem

0    5.24
1    4.15
2    5.26
3    4.23
4    5.55
5    4.02
6    5.76
7    3.98
Name: cotacao, dtype: float64

In [7]:
#2 colunas
cotacao_e_data = df_cambio[['cotacao', 'data']] #lista dentro da lista

print(cotacao_e_data)

#vantagem da data como indice

df_cambio = df_cambio.set_index("data")

cotacao = df_cambio['cotacao'] 

cotacao

   cotacao       data
0     5.24 2014-01-05
1     4.15 2014-01-05
2     5.26 2014-01-06
3     4.23 2014-01-06
4     5.55 2014-01-07
5     4.02 2014-01-07
6     5.76 2014-01-08
7     3.98 2014-01-08

data
2014-01-05    5.24
2014-01-05    4.15
2014-01-06    5.26
2014-01-06    4.23
2014-01-07    5.55
2014-01-07    4.02
2014-01-08    5.76
2014-01-08    3.98
Name: cotacao, dtype: float64

In [10]:
#ferramentas loc, iloc, at, iat

#loc serve para localizar através de nomes

#um unico dia
print(df_cambio.loc['2014-01-05'])

#algum periodo
print(df_cambio.loc['2014-01-05':'2014-01-07'])

#um periodo sobre a informação preço
print(df_cambio.loc['2014-01-05':'2014-01-07', 'cotacao'])

#um dia sobre a informação preço
print(df_cambio.loc['2014-01-05', 'cotacao'])

#um dia sobre a informação preço e moeda
print(df_cambio.loc['2014-01-05', 'moeda':'cotacao'])

#um dia sobre a informação preço e moeda
print(df_cambio.loc['2014-01-05', ['moeda', 'codigo']])

#todos os dados da informação preço
df_cambio.loc[:, 'cotacao']

                 moeda  cotacao  codigo
data
2014-01-05  dolar/real     5.24  DOLFT3
2014-01-05  libra/real     4.15  LIBFT3
                 moeda  cotacao  codigo
data
2014-01-05  dolar/real     5.24  DOLFT3
2014-01-05  libra/real     4.15  LIBFT3
2014-01-06  dolar/real     5.26  DOLFT3
2014-01-06  libra/real     4.23  LIBFT3
2014-01-07  dolar/real     5.55  DOLFT3
2014-01-07  libra/real     4.02  LIBFT3
data
2014-01-05    5.24
2014-01-05    4.15
2014-01-06    5.26
2014-01-06    4.23
2014-01-07    5.55
2014-01-07    4.02
Name: cotacao, dtype: float64
data
2014-01-05    5.24
2014-01-05    4.15
Name: cotacao, dtype: float64
                 moeda  cotacao
data
2014-01-05  dolar/real     5.24
2014-01-05  libra/real     4.15
                 moeda  codigo
data
2014-01-05  dolar/real  DOLFT3
2014-01-05  libra/real  LIBFT3

data
2014-01-05    5.24
2014-01-05    4.15
2014-01-06    5.26
2014-01-06    4.23
2014-01-07    5.55
2014-01-07    4.02
2014-01-08    5.76
2014-01-08    3.98
Name: cotacao, dtype: float64

In [11]:
#at é igual ao loc, só que serve pra localizar um único item. + otimizado

df_cambio.at['2014-01-05', "cotacao"] #mais otimizado que loc pra pegar uma linha e uma coluna

data
2014-01-05    5.24
2014-01-05    4.15
Name: cotacao, dtype: float64

In [12]:
#iloc serve pra selecionar itens através de índices numéricos. 
#Parecido com as listas, mas é preciso usar iloc antes.

#primeira linha
print(df_cambio.iloc[0, :])

#tres primeiras linhas
print(df_cambio.iloc[0:3, :])

#primeira coluna
print(df_cambio.iloc[:, 0])

#primeiro preço do cambio
print(df_cambio.iloc[0, 1])

#primeiro preço do cambio com iat
print(df_cambio.iat[0, 1])

#ultima linha
df_cambio.iloc[-1, :]

moeda      dolar/real
cotacao          5.24
codigo         DOLFT3
Name: 2014-01-05 00:00:00, dtype: object
                 moeda  cotacao  codigo
data
2014-01-05  dolar/real     5.24  DOLFT3
2014-01-05  libra/real     4.15  LIBFT3
2014-01-06  dolar/real     5.26  DOLFT3
data
2014-01-05    dolar/real
2014-01-05    libra/real
2014-01-06    dolar/real
2014-01-06    libra/real
2014-01-07    dolar/real
2014-01-07    libra/real
2014-01-08    dolar/real
2014-01-08    libra/real
Name: moeda, dtype: object
5.24
5.24

moeda      libra/real
cotacao          3.98
codigo         LIBFT3
Name: 2014-01-08 00:00:00, dtype: object

In [13]:
df_cambio

                 moeda  cotacao  codigo
data
2014-01-05  dolar/real     5.24  DOLFT3
2014-01-05  libra/real     4.15  LIBFT3
2014-01-06  dolar/real     5.26  DOLFT3
2014-01-06  libra/real     4.23  LIBFT3
2014-01-07  dolar/real     5.55  DOLFT3
2014-01-07  libra/real     4.02  LIBFT3
2014-01-08  dolar/real     5.76  DOLFT3
2014-01-08  libra/real     3.98  LIBFT3

In [15]:
#Substituir dados com loc

#se um ativo mudar o código de negociação?
df_cambio.loc[df_cambio['codigo'] == "DOLFT3", 'codigo'] = "DOLFT4"

#df_cambio.loc[df_cambio['codigo'] == "DOLFT4"] = "Zona"

df_cambio

                 moeda cotacao  codigo
data
2014-01-05  dolar/real    5.24  DOLFT4
2014-01-05  libra/real    4.15  LIBFT3
2014-01-06  dolar/real    5.26  DOLFT4
2014-01-06  libra/real    4.23  LIBFT3
2014-01-07  dolar/real    5.55  DOLFT4
2014-01-07  libra/real    4.02  LIBFT3
2014-01-08  dolar/real    5.76  DOLFT4
2014-01-08  libra/real    3.98  LIBFT3

# Exercícios

* Exercício 21: Coloque a coluna "ticker" do dataframe do exercício 20 como índice.
* Exercício 22: Mude o nome da coluna do dataframe de "cotacoes" para "precos".
* Exercício 23: Selecione a coluna de preços do dataframe estudado.
* Exercício 24: Selecione as duas últimas colunas do dataframe estudado.
* Exercício 25: Selecione a primeira linha inteira e a primeira coluna inteira com loc.
* Exercício 26: Selecione o preço da weg com iat e com at.
* Exercício 27: Selecione as duas primeiras linhas e todas as colunas com iloc.

In [24]:
# Minha resposta para o exercício 21
dicionario = {
       "nomes": ["Weg", "Petrobras", "Vale", "Petrobras", "Lojas Renner"],
       "tickers": ["WEGE3", "PETR3", "VALE3", "PETR4", "LREN3"],  
       "cotacoes": [20, 30, 40, 12, 35],
       "preco_sobre_lucro": [25, 6, 12, 7, 25],  
       "volume": [5000, 1000, 4000, 7000, 1200]
}

df_info_empresas = pd.DataFrame(dicionario)

df_info_empresas = df_info_empresas.set_index('tickers')

df_info_empresas

                nomes  cotacoes  preco_sobre_lucro  volume
tickers
WEGE3             Weg        20                 25    5000
PETR3       Petrobras        30                  6    1000
VALE3            Vale        40                 12    4000
PETR4       Petrobras        12                  7    7000
LREN3    Lojas Renner        35                 25    1200

In [26]:
# Minha resposta para o exercício 22
df_info_empresas.columns = ['nomes', 'precos', 'preco_sobre_lucro', 'volume']
df_info_empresas

                nomes  precos  preco_sobre_lucro  volume
tickers
WEGE3             Weg      20                 25    5000
PETR3       Petrobras      30                  6    1000
VALE3            Vale      40                 12    4000
PETR4       Petrobras      12                  7    7000
LREN3    Lojas Renner      35                 25    1200

In [27]:
# Minha resposta para o exercício 23
precos = df_info_empresas['precos']
precos

tickers
WEGE3    20
PETR3    30
VALE3    40
PETR4    12
LREN3    35
Name: precos, dtype: int64

In [30]:
# Minha resposta para o exercício 24
colunas = df_info_empresas[['preco_sobre_lucro', 'volume']]
colunas

         preco_sobre_lucro  volume
tickers
WEGE3                   25    5000
PETR3                    6    1000
VALE3                   12    4000
PETR4                    7    7000
LREN3                   25    1200

In [47]:
# Minha resposta para o exercício 25
linha = df_info_empresas.loc['WEGE3']
print(linha)

coluna = df_info_empresas.loc[:, 'nomes']
print(coluna)

nomes                 Weg
precos                 20
preco_sobre_lucro      25
volume               5000
Name: WEGE3, dtype: object
tickers
WEGE3             Weg
PETR3       Petrobras
VALE3            Vale
PETR4       Petrobras
LREN3    Lojas Renner
Name: nomes, dtype: object

In [44]:
# Minha resposta para o exercício 26
preco_weg_iat = df_info_empresas.iat[0, 1]
print(preco_weg_iat)

preco_weg_at = df_info_empresas.at['WEGE3', 'precos']
print(preco_weg_at)

20
20

In [48]:
# Minha resposta para o exercício 27
duas_colunas = df_info_empresas.iloc[0:2, :]
print(duas_colunas)

             nomes  precos  preco_sobre_lucro  volume
tickers
WEGE3          Weg      20                 25    5000
PETR3    Petrobras      30                  6    1000

In [ ]:
dicionario = {
       "nomes": ["Weg", "Petrobras", "Vale", "Petrobras", "Lojas Renner"],
       "tickers": ["WEGE3", "PETR3", "VALE3", "PETR4", "LREN3"],  
       "cotacoes": [20, 30, 40, 12, 35],
       "preco_sobre_lucro": [25, 6, 12, 7, 25],  
       "volume": [5000, 1000, 4000, 7000, 1200]
}

df_info_empresas = pd.DataFrame(dicionario)

df_info_empresas = df_info_empresas.set_index("tickers")

In [ ]:
df_info_empresas.columns = ['nomes', 'precos', 'preco_sobre_lucro', 'volume']

df_info_empresas

In [ ]:
precinho = df_info_empresas['precos']
precinho

In [ ]:
pl_e_volume = df_info_empresas[['preco_sobre_lucro', 'volume']]
pl_e_volume

In [ ]:
primeira_linha = df_info_empresas.loc["WEGE3"]
primeira_coluna = df_info_empresas.loc[:, "nomes"]

primeira_coluna

In [ ]:
preco_weg_at = df_info_empresas.at["WEGE3", "precos"]
preco_weg_iat = df_info_empresas.iat[0, 1] 

preco_weg_at

In [ ]:
duas_primeiras_linhas = df_info_empresas.iloc[0:2, :]
duas_primeiras_linhas