# Mundo 8 - Laços de repetição

* For e While

In [1]:
import time
import pandas as pd

In [2]:
#loop simples em uma lista

lista_empresas = ['Weg', 'Vale', 'Petrobras']

In [3]:
# a cada elemento, faça X

for empresa in lista_empresas:

    print(empresa.upper())

WEG
VALE
PETROBRAS

In [ ]:
#loop em um range. 

for i in range(0, len(lista_empresas)):
    
    print(i)

    print(lista_empresas[i])

In [4]:
#por que usar um range?

lista_cotacoes = [20, 30, 45]
lista_empresas = ['Weg', 'Vale', 'Petrobras']

lista_dicionarios = []

for i in range(0, 3):

    lista_dicionarios.append(pd.DataFrame(
        {'Nome empresa': lista_empresas[i], 'Cotação': lista_cotacoes[i]}, index=[0]))

    
tabela = pd.concat(lista_dicionarios)

tabela

  Nome empresa  Cotação
0          Weg       20
0         Vale       30
0    Petrobras       45

In [5]:
#enumerate usa os dois mundos

lista_dicionarios = []

lista_cotacoes = [20, 30, 45]
lista_empresas = ['Weg', 'Vale', 'Petrobras']

for indice, cotacao in enumerate(lista_cotacoes): 

    print(indice, cotacao)

    lista_dicionarios.append(pd.DataFrame(
        {'Nome empresa': lista_empresas[indice], 'Cotação': cotacao}, index=[0]))


tabela = pd.concat(lista_dicionarios)

tabela

0 20
1 30
2 45

  Nome empresa  Cotação
0          Weg       20
0         Vale       30
0    Petrobras       45

In [ ]:
while True:
    
    print(f'Vai rodar pra sempre')

    time.sleep(5)

In [6]:
#usando while sem ser infinito

contador = 0

lista_cotacoes = [20, 30, 45]

while lista_cotacoes[contador] < 35:

    print(lista_cotacoes[contador])

    contador = contador + 1

20
30

# Desafios

* Exercício 12: Faça um programa que leia o preço de 5 empresas. No final, mostre na tela qual foi a maior e a menor cotação lida.


* Exercício 13: Crie uma ferramenta que deixe o usuário montar uma carteira de investimento que recebe 3 informações: nome da empresa, P/L (inteiro) e ROE. A ferramenta deixará o usuário adicionar quantas empresas ele quiser. Depois que o cadastro de empresas terminar, o programa irá exibir as seguinte estatísticas da carteira montada:
    - Numero de ativos na carteira
    - Média de P/L
    - Média do ROE
    - Qual a empresa mais barata da carteira (menor P/L)
    - Se o usuário tiver menos de 3 ativos, avisar que a carteira está muito concentrada em poucos ativos

In [ ]:
maior = 0
menor = 0

for i in range(0, 5):

    cotacao = float(input('Digite uma cotação:'))

    if i == 0:

        menor = cotacao
        maior = cotacao

    else:

        if cotacao > maior:

            maior = cotacao

        if cotacao < menor:
            
            menor = cotacao

print(f"A maior cotação digitada foi R${maior} e a menor foi R${menor}")

In [ ]:
print('''Seja bem vindo ao analisador de carteira de investimentos. 
      Nós iremos analisar a carteira que for passada para nós.''')

print('''Vamos pedir algumas informações para você: nome da empresa, P/L e ROE. 
      Não esqueça de digitar o ROE no formato decimal!''')

continuar = True

lista_empresas = []
lista_pl = []
lista_roe = []

menor_valor_pl = 100000000000

while continuar:

    nome_empresa = str(input("Digite o nome da empresa: ")).title()
    pl = int(input("Digite o P/L da empresa: "))
    roe = float(input("Digite o ROE da empresa: "))

    lista_empresas.append(nome_empresa)
    lista_pl.append(pl)
    lista_roe.append(roe)

    if pl < menor_valor_pl:

        empresa_com_menor_pl = nome_empresa
        menor_valor_pl = pl

    deseja_continuar = str(input("Deseja cadastrar mais empresas? [S/N]")).lower()

    if deseja_continuar != "n" and deseja_continuar != "s":

        invalido = True

        while invalido:

            deseja_continuar = str(input("Por favor, digite um comando válido: [S/N]")).lower()

            if deseja_continuar == "n" or deseja_continuar == "s":

                break

    if deseja_continuar == "n":

        break


ativos_na_carteira = len(lista_empresas)
roe_medio = sum(lista_roe)/len(lista_roe)
pl_medio = sum(lista_pl)/len(lista_pl)

roe_medio = "{:.0%}".format(roe_medio)

print("Aqui está as estatísticas da sua carteira:")
print(f"Número de ativos: {ativos_na_carteira}")
print(f"Roe médio: {roe_medio}")
print(f"A empresa com o menor P/L da carteira é a {empresa_com_menor_pl}")

if ativos_na_carteira < 3:

    print(f'''Tome cuidado com a concentração em poucos ativos. 
          Você só possui {ativos_na_carteira} ativo(s) na carteira.''')